.app {
    min-height: 100vh;
}

.site-layout {

}

.site-content {
    overflow-y: auto;
    height: 70vh;
    padding: 5px;
}

.site-footer {
    text-align: center;
    vertical-align: center;
    background-color: #f0f2f5;
}





