.widget-prj-ui{
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start!important;
    justify-content: flex-start!important;
}

.widget-prj-ui-plus{
    margin: 5px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}