.runtime-log {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
}

.runtime-log-head {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: bold;
    word-break: keep-all;
    white-space: nowrap;
    width: 100%;
    color: white;
    background-color: black;
    display: block;
    padding: 5px;
}

.runtime-log-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: bold;
    word-break: keep-all;
    white-space: nowrap;
    /** height: 48vh; **/
    width: 100%;
    overflow: auto;
    color: white;
    background-color: black;
    display: block;
    padding: 5px;
}